:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/bg_image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
